<!-- search bar -->
<div class="container search-bar">
	<div class="search-bar-outer">
		<div class="search-bar-inner">
			<form action="/search">
				<h4 class="mb-2">尋找餐廳：</h4>
				<div class="input-group">
					<div class="input-group">
						<select class="form-select form-select-sm p-1" name="searchType" id="seach-tags"
							aria-label="Default select example">
							<option name="searchType" value="name">name</option>
							<option name="searchType" value="category">category</option>
							<option name="searchType" value="location">location</option>
						</select>
						<input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="輸入餐廳、分類"
							aria-label="Restaurant Name..." aria-describedby="search-button">
						<div class="input-group-append">
							<button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
						</div>
					</div>
			</form>
		</div>
	</div>
	<p></p>
	<h3>I can't find restaurants related to {{keyword}} in {{searchType}}</h3>
</div>